<%- include("partials/header.ejs") %>
<main>
  <section id="catalog">
    <h1>Notre catalogue</h1>
    <% if (okMessage) { %>
        <p class="okMessage"><%= okMessage %></p>
    <% } %>
    <% if (errorMessage) { %>
        <p class="errorMessage"><%= errorMessage %></p>
    <% } %>

    <div class="articles only-display-4-articles" id="articles-list">
      <% for (const coffee of coffees) { %>
      <article>
        <img
          src="../images/coffees/<%= coffee.reference %>.png"
          alt="<%= coffee.name %>"
        />
        <div>
          <h2><%= coffee.name %></h2>
          <p>Origine <%= coffee.country_name %></p>
          <p><%= coffee.price %> €/kg</p>
          <a class="button-outline" href="/coffees/<%= coffee.coffee_id %>">Voir le détail</a>
        </div>
      </article>
      <% } %>
    </div>

    <button class="button" id="see-all-products-button">
      Voir tous les produits
    </button>
  </section>
  <div><a class="button" href="/">Retour à l'accueil</a></div>
  <script src="/js/displayAllCoffee.js"></script>
</main>
<%- include("partials/footer.ejs") %>
