<%- include("partials/header.ejs") %>
<main>
    <div>
        <h1>Gestion des utilisateurs</h1>
        <% if (okMessage) { %>
            <div class="okMessage"><%= okMessage %></div>
        <% } %>
    </div>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom d'utilisateur</th>
                <th>Admin</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach(user => { %>
                <tr>
                    <td><%= user.id %></td>
                    <td><%= user.username %></td>
                    <td><%= user.is_admin ? "Oui" : "Non" %></td>
                    <td>
                        <a href="/admin/editUser/<%= user.id %>" class="button">Modifier</a>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    <nav class="admin-nav">
        <ul>
            <li><a class="button" href="/admin/createUser" >Créer un utilisateur</a></li>
            <li><a class="button" href="/admin">Retour à l'administration</a></li>
        </ul>
    </nav>
</main>
<%- include("partials/footer.ejs") %>